.footer{
    background-color: rgb(255, 238, 0);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.classTitulo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(224, 224, 17);
    text-align: center;
}

#textAreaNota{
    font-family: Tahoma;
    height: 100%;
    width: 100%;
    margin-left: 3%;
}

#tituloNuevaNota{
    margin-left: 3%;
}

::placeholder {
    font-family: Tahoma;
    color: gray;
  }

.texto-centrado{
    text-align: center;
}

.estiloIconoMas{
    width: 25%; 
    height: 25%;
}


#tituloNuevaNota{
    margin-bottom: 2%;
    width: 100%;
}

.estiloIconos{
    width: 9%; 
    height: 9%;
}

.botonGuardar{
    margin-bottom: 3%;
}
.botonNuevaNota {
    margin-right: 5%; /* Espacio entre el botón y el borde derecho de la página */
    text-align: right; /* Alinea el contenido del botón a la derecha */
}
.estiloIconoMas {
    width: 10%; /* Ajusta el ancho del SVG al 10% del contenedor */
    height: 10%; /* Ajusta la altura del SVG al 10% del contenedor */
}

